SUPABASE_URL=https://bvjnhlpngqksrwggegbe.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_VCkKiCVIkmfuTNDHIL-70A_7XA_0JIK
SUPABASE_PROOF_BUCKET=payment-proofs

ADMIN_PASSWORD=ACD!!!2026
ADMIN_SESSION_SECRET=silver-home-coming-batch-2001
